body{
    height: 100vh;
    color: #333;
    font-family: 'Noto Sans JP', 'Lato';
}

.container{
    height: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#runner{
    width: 80%!important;
}

#workbench{
    width: 100%!important;
    border: 2px solid #333;
}

#left{
    width:50%;
}

#right{
    width:50%;
}

#resizeV{
    cursor: row-resize;
    background: #ccc;
    border: 1px solid #ccc;
}

#resizeH{
    cursor: col-resize;
    background: #ccc;
    border: 1px solid #ccc;
}

#target-html{
    height:calc(300px - 1.5em);
    width:100%;
    background: white;
    overflow: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

#target-css{
    height:calc(300px - 1.5em);
    width:100%;
    background: white;
    overflow: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

iframe{
    width: 100%;
    height: calc(100% - 1.5em);
    background-color: #fff;
    pointer-events: none;
}

.windowfor{
    max-height: 1.5em;
    background: #fff;
    padding-left: .5em;
    font-size: .8em;
    font-weight: bold;
    color: #ccc;
    user-select: none;
}

#widthtag{
    font-size: .8em;
    font-weight: normal;
    color: #ccc;
    margin-left: 1em;
}

.bg-custom{
    background: #BAA4C8;
}

